*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Young Serif";
    src: url("../assets/fonts/YoungSerif-Regular.ttf");
}

:root{
    --primaryColor:#1C1D21;
    --secondaryColor:#f0f0f0;
    --subtextColor:#cecece;
    --accentColor:#925FE2;
} 

body{
    background-color: var(--primaryColor);
}

/*Button Design*/