.stdPageWrapper{
    min-height: 100svh;
    background-color: var(--secondaryColor);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.contentPage{
    height: 100vh;
    width: 80%;
}
.userProfile{
    width: 100%;
    height: 10%;
    margin: 0.8rem 0;
}
.profileCont{
    width: 20%;
    height: 100%;
    float: right;
    margin: 0 1rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.profileImg{
    border-radius: 100%;
    border: 3px solid var(--accentColor);
    height: 55px;
    width: 55px;
    background-color: var(--accentColor);
    background-blend-mode: multiply;
    overflow: hidden;
    object-fit:contain;
}
.profileImg img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.profileName{
    height: 100%;
    width: 70%;
    font-size: 2.5vh;
    color: var(--primaryColor);
    font-family: "Young Serif";
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.userPosition{
    color: var(--subtextColor);
    font-size: 2.2vh;
}

.userInfoBanner{
    width: 90%;
    height: 30%;
    margin: 1rem 0;
    background-color: var(--accentColor);
    border-radius: 5vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    overflow: hidden;
}
.bannerGreet{
    height: 75%;
    width: 50%;
    padding: 0 1.5rem;
    font-family: "Young Serif";
    overflow: hidden;
}
.bannerImg{
    height: 100%;
    width: 40%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.bannerTime{
    font-size: 2.8vh;
    color: var(--subtextColor);
}
.bannerName{
    margin: 3.2rem 0 0 0;
    color: var(--secondaryColor);
    font-size: 4vh;
    font-weight: 600;
}
.bannerPrompt{
    font-size: 2.4vh;
    color: var(--secondaryColor);
    margin: 0 0.6rem;
}

.elementCont{
    width: 92.8%;
    height: 52%;
    display: flex;
    justify-content: space-between;
}
.contentCont{
    width: 70%;
    height: 100%;
}
.notifyCont{
    width: 28%;
    height: 100%;
}
.notifyTitle{
    width: 100%;
    color: var(--primaryColor);
    font-size: 3vh;
    font-family: "Young Serif";
    padding: 1rem 0.5rem;
}
.notifyCenter{
    width: 96%;
    height: 80%;
    margin: 0 0.2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 2vmin;
}

.financeCont{
    width: 100%;
    height: 50%;
}
.financeTitle{
    width: 100%;
    font-size: 3vh;
    color: var(--primaryColor);
    font-family: "Young Serif";
    padding: 0.5rem;
}
.financeElements{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
}
.finCont{
    width: 30%;
    height: 95%;
    border-radius: 4vmin;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: 3px solid var(--accentColor);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Young Serif";
}

.payTitle{
    font-size: 2.4vh;
    font-weight: 800;
    color: var(--subtextColor);
}
.payVal{
    font-size: 3.5vh;
}

.crsCont{
    width: 32%;
    height: 95%;
    border-radius: 2vmin;
    border: 3px solid var(--accentColor);
    background-color:rgba(146, 95, 226,0.4);      
}
.crsTitle{
    color: var(--primaryColor);
    font-family: "Young Serif";
    margin: 1.4rem 1rem;
    font-size: 2.5vh;
    font-weight: 800;
}

.crsButton{
    background-color: var(--accentColor);
    width: 55%;
    height: 25%;
    float: right;
    border-radius: 10vmin;
    margin: 0 1rem;
    font-size: 2.4vh;
    font-family: "Young Serif";
    color: var(--secondaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
}
.crsButton:hover{
    background-color: rgba(146, 95, 226, 0.6);
}
.btnChild{
    background-color: inherit;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}